@{
    ViewBag.Title = "Gallery";
}
<div id="main">
    <div class="breadcrumb">
        <!-- *BreadCrumb Starts here** -->
        <div class="container">
            <h2>Gallery <span>Art</span></h2>
            <div class="user-summary">
                <div class="account-links">
                    <a href="#">My Account</a>
                    <a href="#">Checkout</a>
                </div>
                <div class="cart-count">
                    <a href="#">Shopping Bag: 0 items</a>
                    <a href="#">($0.00)</a>
                </div>
            </div>
        </div>
    </div><!-- *BreadCrumb Ends here** -->
    <section id="primary" class="content-full-width">
        <!-- **Primary Starts Here** -->
        <div class="fullwidth-section">
            <!-- **Full-width-section Starts Here** -->
            <div class="container">
                <div class="main-title animate" data-animation="pullDown" data-delay="100">
                    <h3> Gallery </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                </div>
            </div>
            <div class="dt-sc-sorting-container">
                <a data-filter="*" href="#" title="09" class="dt-sc-tooltip-top active-sort type1 dt-sc-button">All</a>
                <a data-filter=".nature" href="#" title="06" class="dt-sc-tooltip-top type1 dt-sc-button">Nature</a>
                <a data-filter=".people" href="#" title="06" class="dt-sc-tooltip-top type1 dt-sc-button">People</a>
                <a data-filter=".street" href="#" title="05" class="dt-sc-tooltip-top type1 dt-sc-button">Street</a>
                <a data-filter=".still-life" href="#" title="08" class="dt-sc-tooltip-top type1 dt-sc-button">Still life</a>
            </div>
            <div class="portfolio-fullwidth">
                <!-- **portfolio-fullwidth Starts Here** -->
                <div class="portfolio-grid">
                    <div class="dt-sc-portfolio-container isotope">
                        <!-- **dt-sc-portfolio-container Starts Here** -->
                        <div class="portfolio nature still-life dt-sc-one-fourth">
                            <figure>
                                <img src="~/Content/images/portfolio-images/img-1.jpg" alt="" title="">
                                <figcaption>
                                    <div class="portfolio-detail">
                                        <div class="views">
                                            <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]" href="~/Content/images/portfolio-images/img-1.jpg"></a><span>3</span>
                                        </div>
                                        <div class="portfolio-title">
                                            <h5><a href="gallery-detail.html">Proposing Love</a></h5>
                                            <p>Sample text here looks good</p>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="portfolio nature people street dt-sc-one-fourth">
                            <figure>
                                <img src="~/Content/images/portfolio-images/img-2.jpg" alt="" title="">
                                <figcaption>
                                    <div class="portfolio-detail">
                                        <div class="views">
                                            <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]" href="~/Content/images/portfolio-images/img-2.jpg"></a><span>7</span>
                                        </div>
                                        <div class="portfolio-title">
                                            <h5><a href="gallery-detail-with-lhs.html">Brave Man</a></h5>
                                            <p>A cowboy is a man with guts</p>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="portfolio street landscapes still-life dt-sc-one-fourth">
                            <figure>
                                <img src="~/Content/images/portfolio-images/img-3.jpg" alt="" title="">
                                <figcaption>
                                    <div class="portfolio-detail">
                                        <div class="views">
                                            <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]" href="~/Content/images/portfolio-images/img-3.jpg"></a><span>9</span>
                                        </div>
                                        <div class="portfolio-title">
                                            <h5><a href="gallery-detail-with-rhs.html">Mountain Ride</a></h5>
                                            <p>the swagger of a cowboy</p>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="portfolio nature still-life dt-sc-one-fourth">
                            <figure>
                                <img src="~/Content/images/portfolio-images/img-4.jpg" alt="" title="">
                                <figcaption>
                                    <div class="portfolio-detail">
                                        <div class="views">
                                            <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]" href="~/Content/images/portfolio-images/img-4.jpg"></a><span>5</span>
                                        </div>
                                        <div class="portfolio-title">
                                            <h5><a href="gallery-detail.html">River Ride</a></h5>
                                            <p>Live Free, Ride Hard!!</p>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="portfolio people still-life dt-sc-one-fourth">
                            <figure>
                                <img src="~/Content/images/portfolio-images/img-5.jpg" alt="" title="">
                                <figcaption>
                                    <div class="portfolio-detail">
                                        <div class="views">
                                            <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]" href="~/Content/images/portfolio-images/img-5.jpg"></a><span>6</span>
                                        </div>
                                        <div class="portfolio-title">
                                            <h5><a href="gallery-detail-with-lhs.html">Ride Hard</a></h5>
                                            <p>Saddle your horse</p>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="portfolio people still-life dt-sc-one-fourth">
                            <figure>
                                <img src="~/Content/images/portfolio-images/img-6.jpg" alt="" title="">
                                <figcaption>
                                    <div class="portfolio-detail">
                                        <div class="views">
                                            <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]" href="~/Content/images/portfolio-images/img-6.jpg"></a><span>1</span>
                                        </div>
                                        <div class="portfolio-title">
                                            <h5><a href="gallery-detail-with-rhs.html">Black Rider</a></h5>
                                            <p>No reason to ride a horse</p>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="portfolio people nature still-life street dt-sc-one-fourth">
                            <figure>
                                <img src="~/Content/images/portfolio-images/img-7.jpg" alt="" title="">
                                <figcaption>
                                    <div class="portfolio-detail">
                                        <div class="views">
                                            <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]" href="~/Content/images/portfolio-images/img-7.jpg"></a><span>5</span>
                                        </div>
                                        <div class="portfolio-title">
                                            <h5><a href="gallery-detail.html">Stay single</a></h5>
                                            <p>Make Way</p>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="portfolio nature people street still-life dt-sc-one-fourth">
                            <figure>
                                <img src="~/Content/images/portfolio-images/img-8.jpg" alt="" title="">
                                <figcaption>
                                    <div class="portfolio-detail">
                                        <div class="views">
                                            <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]" href="~/Content/images/portfolio-images/img-8.jpg"></a><span>12</span>
                                        </div>
                                        <div class="portfolio-title">
                                            <h5><a href="gallery-detail-with-lhs.html">Born to Ride</a></h5>
                                            <p>Cowboys are born, ain't made!</p>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="portfolio street nature people still-life dt-sc-one-fourth">
                            <figure>
                                <img src="~/Content/images/portfolio-images/img-9.jpg" alt="" title="">
                                <figcaption>
                                    <div class="portfolio-detail">
                                        <div class="views">
                                            <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]" href="~/Content/images/portfolio-images/img-9.jpg"></a><span>15</span>
                                        </div>
                                        <div class="portfolio-title">
                                            <h5><a href="gallery-detail-with-rhs.html">Stand Tall</a></h5>
                                            <p>Hard to Settle!!</p>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!-- **dt-sc-portfolio-container Ends Here** -->
                </div>
            </div><!-- **portfolio-fullwidth Ends Here** -->
            <div class="aligncenter">
                <a href="#" class="loadmore dt-sc-button medium type3 with-icon"><i class="fa fa-picture-o"></i> <span> load more </span> </a>
            </div>
            <div class="dt-sc-hr-invisible-small"></div>
        </div><!-- **Full-width-section Ends Here** -->
    </section><!-- **Primary Ends Here** -->
    </div>
