@model artgallery.Models.AuctionGallery

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout</h2>

<div class="woocommerce">

    <!-- **checkout - Starts** -->
    <form name="checkout" method="post" class="checkout" action="#">
        <!-- **col2-set - Starts** -->
        <div class="col2-set" id="customer_details">
            <!-- **col-1 - Starts** -->
            <div class="col-1">

            </div> <!-- **col-1 - Ends** -->
            <!-- **col-2 - Starts** -->
            <div class="col-2">


            </div> <!-- **col-2 - Ends** -->

        </div> <!-- **col2-set - Ends** -->

        <div class="dt-sc-margin50"></div>
        <h3 id="order_review_heading">Order Review &amp; Payment</h3>
        <div id="order_review">
            <table class="shop_table cart">
                <thead>
                    <tr>
                        <th class="product-thumbnail">Image</th>
                        <th class="product-name">Product</th>
                        <th class="product-price">Price</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-subtotal">Total</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="cart_table_item">

                        <!-- The thumbnail -->
                        <td class="product-thumbnail">
                            <a href="shop-detail.html"><img src="~/Content/images/top-product1.jpg" class="attachment-shop_thumbnail wp-post-image" alt="T_7_front" /></a>
                        </td>

                        <!-- Product Name -->
                        <td class="product-name">
                            <h6><a href="shop-detail.html">Secret To Creativity</a></h6>
                        </td>

                        <!-- Product price -->
                        <td class="product-price">
                            <span class="amount"><i class="fa fa-gbp"></i> 150</span>
                        </td>

                        <!-- Quantity inputs -->
                        <td class="product-quantity">
                            <div class="quantity">
                                <input type="button" class="minus" value="-" />
                                <input type="number" name="quantity" step="1" value="1" min="1" title="Qty" class="input-text qty text" />
                                <input type="button" class="plus" value="+" />
                            </div>
                        </td>

                        <!-- Product subtotal -->
                        <td class="product-subtotal">
                            <span class="amount"><i class="fa fa-gbp"></i> 150</span>
                        </td>

                    </tr>
                    <tr class="cart_table_item">

                        <!-- The thumbnail -->
                        <td class="product-thumbnail">
                            <a href="shop-detail.html"><img src="~/Content/images/top-product2.jpg" class="attachment-shop_thumbnail wp-post-image" alt="T_7_front" /></a>
                        </td>

                        <!-- Product Name -->
                        <td class="product-name">
                            <h6><a href="shop-detail.html">Lonely in Rain</a></h6>
                        </td>

                        <!-- Product price -->
                        <td class="product-price">
                            <span class="amount"><i class="fa fa-gbp"></i> 175</span>
                        </td>

                        <!-- Quantity inputs -->
                        <td class="product-quantity">

                            <div class="quantity">
                                <input type="button" class="minus" value="-" />
                                <input type="number" name="quantity" step="1" value="1" min="1" title="Qty" class="input-text qty text" />
                                <input type="button" class="plus" value="+" />
                            </div>
                        </td>

                        <!-- Product subtotal -->
                        <td class="product-subtotal">
                            <span class="amount"><i class="fa fa-gbp"></i> 175</span>
                        </td>

                    </tr>
                </tbody>
            </table>

            <!-- **cart-collaterals - Starts** -->
            <div class="cart-collaterals">
                
                <div class="cart_totals">
                    <h3>Cart Totals</h3>
                    <table>
                        <tbody>

                            <tr class="cart-subtotal">
                                <th>Cart Subtotal</th>
                                <td><span class="amount"><i class="fa fa-gbp"></i> 375</span></td>
                            </tr>

                            <tr class="shipping">
                                <th>Shipping</th>
                                <td>Free Shipping<input type="hidden" name="shipping_method" id="shipping_method" value="free_shipping" /></td>
                            </tr>

                            <tr class="total">
                                <th>Order Price Total</th>
                                <td><strong><span class="amount"><i class="fa fa-gbp"></i> 375</span></strong></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div> <!-- **cart-collaterals - Ends** -->
            <!-- **payment - Starts** -->
            <div id="payment">
                <ul class="payment_methods methods">
                    <li class="payment_method_bacs">
                        <input id="payment_method_bacs" type="radio" class="input-radio" name="payment_method" value="bacs" checked='checked' data-order_button_text="" />
                        <label for="payment_method_bacs"><span></span>Direct Bank Transfer </label>
                        <div class="payment_box payment_method_bacs"><p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won&#8217;t be shipped until the funds have cleared in our account.</p> </div>
                    </li>
                    <li class="payment_method_cheque">
                        <input id="payment_method_cheque" type="radio" class="input-radio" name="payment_method" value="cheque" data-order_button_text="" />
                        <label for="payment_method_cheque"><span></span>Cheque Payment </label>
                        <div class="payment_box payment_method_cheque" style="display:none;"><p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p> </div>
                    </li>
                    <li class="payment_method_paypal">
                        <input id="payment_method_paypal" type="radio" class="input-radio" name="payment_method" value="paypal" data-order_button_text="Proceed to PayPal" />
                        <label for="payment_method_paypal"><span></span>PayPal <img src="~/Content/images/paypal.png" alt="PayPal" /></label>
                        <div class="payment_box payment_method_paypal" style="display:none;"><p>Pay via PayPal; you can pay with your credit card if you don&#8217;t have a PayPal account</p> </div>
                    </li>
                </ul>

                <div class="form-row place-order">

                    <noscript>Since your browser does not support JavaScript, or it is disabled, please ensure you click the <em>Update Totals</em> button before placing your order. You may be charged more than the amount stated above if you fail to do so.<br /><input type="submit" class="button alt" name="woocommerce_checkout_update_totals" value="Update totals" /></noscript>
                    <input type="hidden" name="_wpnonce" value="127d0e67e3" /><input type="hidden" name="_wp_http_referer" value="" />
                    <input type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Place order" data-value="Place order" />

                </div>

                <div class="clear"></div>

            </div>  <!-- **payment - Ends** -->
        </div> <!-- **order_review - Ends** -->
    </form> <!-- **checkout - Ends** -->
</div> <!-- **woocommerce - Ends** -->