@model artgallery.Models.Adminbox

@{
    ViewBag.Title = "LoginAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoginAdmin</h2>
<hr />

<h4 class="text-success">@TempData["msg"]</h4>

